---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.jsx';
import Hero from '../components/home/Hero.astro';
import Clients from '../components/home/Clients.astro';
import Benefits from '../components/home/Benefits.astro';
import FeatureGrid from '../components/home/FeatureGrid.astro';
import Testimonials from '../components/home/Testimonials.tsx';
import CTA from '../components/home/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Dock Scheduling Software for Warehouses | DataDocks" disableTransitions>

  <link slot="head" rel="preload" as="image" href="/images/DataDocks-Calendar-Screenshot.webp" imagesrcset="/images/03f3c54fa64b3930f66a0bc62b3bc6f3_DataDocks-Calendar-Screenshot-p-800.webp 800w, /images/03f3c54fa64b3930f66a0bc62b3bc6f3_DataDocks-Calendar-Screenshot-p-1080.webp 1080w, /images/03f3c54fa64b3930f66a0bc62b3bc6f3_DataDocks-Calendar-Screenshot-p-1600.webp 1600w, /images/DataDocks-Calendar-Screenshot.webp 2000w" imagesizes="100vw" media="(min-width: 860px)" fetchpriority="high" />
  <link slot="head" rel="preload" as="image" href="/images/homepage-screenshot-mobile-750.webp" imagesrcset="/images/homepage-screenshot-mobile-500.webp 500w, /images/homepage-screenshot-mobile-750.webp 750w, /images/homepage-screenshot-mobile.webp 1724w" imagesizes="100vw" media="(max-width: 859px)" fetchpriority="high" />

  <Navigation client:load />

  <main class="bg-[#FFF8E9] min-h-screen">

    <Hero />

    <Clients />

    <Benefits />

    <FeatureGrid />

    <Testimonials client:visible />

    <CTA />

  </main>

  <Footer />

</Layout>